#ajoutCategorie{
	display:			none;
}


.tableAffichageImage td img {
	max-width:			250px;
	display:			block;
	margin-left:		auto;
	margin-right:		auto;
	min-width:			100px;
}
table {
	padding-left:		50px;
	width:				100%;
	
}
.tableAffichageImage td{
	height:				250px;
	border:				ridge;
}

#entete{
	color:				white;
	text-align:			center;
	text-decoration:	underline;
}



<!-- PAGE TUTORIAL AJOUT IMAGE -->

.imageTutoriel {
	padding: 200px;
}
#tutorial {
	
}