<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>projet_catho</display-name>
  <servlet>
    <servlet-name>ServletMenu</servlet-name>
    <servlet-class>mr.controllers.ServletMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMenu</servlet-name>
    <url-pattern>/ServletMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletArticle</servlet-name>
    <servlet-class>mr.controllers.ServletArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletArticle</servlet-name>
    <url-pattern>/ServletArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletArticleUnique</servlet-name>
    <servlet-class>mr.controllers.ServletArticleUnique</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletArticleUnique</servlet-name>
    <url-pattern>/ServletArticleUnique</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>accueil</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletConnexion</display-name>
    <servlet-name>ServletConnexion</servlet-name>
    <servlet-class>mr.controllers.ServletConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConnexion</servlet-name>
    <url-pattern>/ServletConnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDeconnexion</display-name>
    <servlet-name>ServletDeconnexion</servlet-name>
    <servlet-class>mr.controllers.ServletDeconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDeconnexion</servlet-name>
    <url-pattern>/ServletDeconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletGestionSession</display-name>
    <servlet-name>ServletGestionSession</servlet-name>
    <servlet-class>mr.controllers.ServletGestionSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGestionSession</servlet-name>
    <url-pattern>/ServletGestionSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAccueil</display-name>
    <servlet-name>ServletAccueil</servlet-name>
    <servlet-class>mr.controllers.ServletAccueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAccueil</servlet-name>
    <url-pattern>/ServletAccueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletNouvelleArticle</display-name>
    <servlet-name>ServletNouvelleArticle</servlet-name>
    <servlet-class>mr.controllers.ServletNouvelleArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNouvelleArticle</servlet-name>
    <url-pattern>/ServletNouvelleArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConnexionReussi</display-name>
    <servlet-name>ServletConnexionReussi</servlet-name>
    <servlet-class>mr.controllers.ServletConnexionReussi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConnexionReussi</servlet-name>
    <url-pattern>/ServletConnexionReussi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletNouvelArticle</display-name>
    <servlet-name>ServletNouvelArticle</servlet-name>
    <servlet-class>mr.controllers.ServletNouvelArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNouvelArticle</servlet-name>
    <url-pattern>/ServletNouvelArticle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletGalerie</display-name>
    <servlet-name>ServletGalerie</servlet-name>
    <servlet-class>mr.controllers.ServletGalerie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGalerie</servlet-name>
    <url-pattern>/ServletGalerie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAjoutImage</display-name>
    <servlet-name>ServletAjoutImage</servlet-name>
    <servlet-class>mr.controllers.ServletAjoutImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAjoutImage</servlet-name>
    <url-pattern>/ServletAjoutImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTutorialAjoutImage</display-name>
    <servlet-name>ServletTutorialAjoutImage</servlet-name>
    <servlet-class>mr.controllers.ServletTutorialAjoutImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTutorialAjoutImage</servlet-name>
    <url-pattern>/ServletTutorialAjoutImage</url-pattern>
  </servlet-mapping>
</web-app>